# Part1: creating dataframe from wiki page

In [78]:
import requests
import lxml.html as lh
import pandas as pd

Load page and parse it into <tr> elements. Check that all rows have 3 columns.

In [169]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(url)
doc = lh.fromstring(page.content)

tr_elements = doc.xpath('//table')[0].xpath(".//tr")

# check number of columns:
[len(T) for T in tr_elements if len(T)!=3]

[]

Now, lets fetch headers from tr_elements. For that lets take the first row:

In [170]:
headers = [T.text_content() for T in tr_elements[0]]
headers

['Postal Code\n', 'Borough\n', 'Neighborhood\n']

Lets remove useless \n

In [171]:
headers = [T.replace("\n", "") for T in headers]
headers

['Postal Code', 'Borough', 'Neighborhood']

Create list of columns with names and empty data

In [172]:
columns = [(title, []) for title in headers]
columns

[('Postal Code', []), ('Borough', []), ('Neighborhood', [])]

Add data to columns and remove useless \n from data

In [173]:
for r in right_tr_elements[1:]:
    for c in range(3):
        column = columns[c]
        column[1].append(r[c].text_content().replace("\n", ""))

Create Dict for creating pandas dataframe

In [174]:
d = {title: col for (title, col) in columns}

Create dataframe

In [175]:
df = pd.DataFrame(d)
df.shape

(181, 3)

Take DF without Not Assigned borough

In [178]:
df = df[df["Borough"]!="Not assigned"]
df.tail()

,Postal Code,Borough,Neighborhood
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing Centre
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
180,,Canadian postal codes,

Opps... I have found one more trash row:
|180|Canadian postal codes||
Remove it:

In [179]:
df = df[df["Borough"]!="Canadian postal codes"]
df.tail()

,Postal Code,Borough,Neighborhood
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing Centre
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

Lets find empty Neighborhood now:

In [180]:
rows_empty_neighborhood = df2["Neighborhood"] == ""
df[rows_empty_neighborhood]

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

No such rows.

So, here is the final shape:

In [181]:
df.shape

(103, 3)